
/* ===== MENU ===== */
.menu {
    float: left;
    height: 700px;;
    width: 70px;
    background: #4768b5;
    background: -webkit-linear-gradient(#4768b5, #35488e);
    background: -o-linear-gradient(#4768b5, #35488e);
    background: -moz-linear-gradient(#4768b5, #35488e);
    background: linear-gradient(#4768b5, #35488e);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  }
  
  .menu .items {
    list-style:none;
    margin: auto;
    padding: 0;
  }
  
  .menu .items .item {
    height: 70px;
    border-bottom: 1px solid #6780cc;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #9fb5ef;
    font-size: 17px;
  }
  
  .menu .items .item-active {
    background-color:#5172c3;
    color: #FFF;
  }
  
  .menu .items .item:hover {
    cursor: pointer;
    background-color: #4f6ebd;
    color: #cfe5ff;
  }
  
  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
  }
  .abs{
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    width: 200px;
    background-color: #5172c3;
  }

  .spinner {
    width:3rem;
    text-align:center
   }
   .spinner>div {
    width:.5rem;
    height:.5rem;
    margin:auto 2px;
    background-color:white;
    border-radius:100%;
    display:inline-block;
    -webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;
    animation:sk-bouncedelay 1.4s infinite ease-in-out both
   }
   .spinner .bounce1 {
    -webkit-animation-delay:-.32s;
    animation-delay:-.32s
   }
   .spinner .bounce2 {
    -webkit-animation-delay:-.16s;
    animation-delay:-.16s
   }
   @-webkit-keyframes sk-bouncedelay {
    0%,
    100%,
    80% {
     -webkit-transform:scale(0)
    }
    40% {
     -webkit-transform:scale(1)
    }
   }
   @keyframes sk-bouncedelay {
    0%,
    100%,
    80% {
     -webkit-transform:scale(0);
     transform:scale(0)
    }
    40% {
     -webkit-transform:scale(1);
     transform:scale(1)
    }
   }